<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page | Haha</title>
    <%- include('../components/head'); %>
  </head>
  <body>
    <%- include('../components/header'); %>
    <div>
      <h1>this is home page</h1>
    </div>
    <%- include('../components/footer'); %>
  </body>
  <%- include('../components/script'); %>
</html>
